<footer id="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p>uncopyright 2017. do as you wish with this tutorial</p>
        <p>coded by <a href="twitter.com/miguelmalcolm">miguel</a></p>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="">home</a></li>
          <li><a href="">what we do</a></li>
          <li><a href="">about</a></li>
          <li><a href="">latest</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href=""></a>facebook</li>
          <li><a href=""></a>twitter</li>
          <li><a href=""></a>youtube</li>
          <li><a href=""></a>linkedin</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>a tiny header</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla provident rem dolore voluptates architecto facere quas placeat delectus modi in optio quo velit, recusandae. Omnis aliquid eaque aliquam id pariatur!</p>
      </div>
    </div>
  </div>
</footer>