@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html,
body {
  height: 100%;
}

/* cover */

#cover {
  background: #222 url("./assets/stars.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

.card-block {
  flex: none;
}
